<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/user/signup">user Singup</a></li>
        <li><a href="/food/add">add food</a></li>
        <li><a href="/food">view all food</a></li>
    </ul>
</nav>